html, body {
font-family: Arial, Helvetica, sans-serif;
height: 100%;
margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  margin-bottom: -20px;
}

.logo > h1 {
  font-family: 'Moon Dance';
  font-size: 150px;
  font-style: italic;
  margin-bottom: -100px;
  margin-top: -20px;
  margin-left: 50px;
  color: #05D5FA;
  text-shadow: 2px 2px #63666A;
  font-weight: lighter;
}

.logo > h3 {
  margin-left: 50px;
  font-size: 30px;
}

.search {
 width: 400px;
}

.sidebar {
  margin-right: 50px;
}

.recipes {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-wrap: normal;
  width: 90%;
  margin-left: 5%;
}

.menu{
  display: flex;
  flex-direction: 'row';
  justify-content: space-around;
  height: 600px;
}

.gl:hover {
  color: blue
}

button:hover {
  box-shadow: -5px 5px #888888;
}

button {
  background-color: rgb(5,213,250, .5);;
  color: white;
  border: 1px solid rgb(5,213,250, .5);
  opacity: .7;
  height: 40px;
  width: 150px;
border-radius: 10px;
}

.plusLogo {
  font-weight: bolder;
  font-size: large;
}

.addLogo {
  font-size: large;
  background-color: white;
  position: absolute;
  z-index: 5;
  margin-left: -35px;
  margin-top: 10px;
  border-radius: 50px;
}

.weeks {
  border: 1px solid grey;
  width: 300px;
  text-align: center;
}

.days {
  margin-left: 70px;
  text-align: left;
}

.footer {
  text-align: center;
}

.recipe-img {
  height: 250px;
  width: 250px;
  margin-left: 10px;
}

.recipe {
  height: 275px;
  width: 295px;
  float: left;
  margin-bottom: 70px;
}

.recipe-title {
  inline-size: 150px;
overflow: hidden;
}